$primary-color: #26252b;
$secondary-color: #9cebdf;

$blue-custom-color: #4535d5;
$yellow-custom-color: #fee856;
$green-custom-color-1: #9cebdf;
$green-custom-color-2: #7be4d4;
$white-color: #ffffff;
$gray-color: #d9d9d9;

$font-primary: "Open Sans", sans-serif;
$font-secondary: "Oswald", sans-serif;
